:root{
    --color0: #6C0345;
    --color4: #DC6B19;
    --color3: #F7C566;
    --color1: #FFF8DC;
    --color5: #F7F7F7;
    --color6: #0F0F0F;
    --color7: #8ebdb6 ;
}

body{
    /* Color del fondo de la página */
    background-color: var(--color5);
    background-attachment: fixed;
}

.home2{
    /* Corresponde al icono de casa */
    color: black;
    text-decoration: none;
    /* Aumentar el tamaño del icóno */
    font-size: 25px;
}


/* -------------------- NavBar/Menu -------------------- */
.barra1{
    /* Corresponde al diseño general de barra1 */
    background-color: var(--color5);
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue",sans-serif;
}

.logo{
    height: 50px;
        /* Ajusta la altura según tus necesidades */
    width: auto;
        /* El ancho se ajustará automáticamente manteniendo la proporción de aspecto */
    border-radius: 40px;
    box-shadow: -5px -5px 3px rgba(0, 0, 0, 0.2);
}

#btn-abrir-modal {
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 35px;
    background-color: var(--color5);
}

.NomEmp{
    /*  Nombre empresa (Palabra) */
    color: var(--color6);
    font-size: 30px;
    font-style: italic;
}


/* Iconos navbar coloración y transicion */
.ico-anim{
    color: var(--color6);
    transition: 0.3s;
}
.ico-anim:hover{
    color: var(--color0);
}


.barraDerecha{
    /* Corrí el buscador y el login a la derecha */
    justify-content: center;
}

.r2{
    background-color: var(--color7);
}

/* -------------------- PopUp------------------------- */

.Reg{
    text-decoration: none;
    color: white;
}

/* Estilo para el modal */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 55%;
    height: 30%;
    background-color: rgba(230, 230, 230, 0.801);
    justify-content: center;
    align-items: center;
}

/* Estilo para el contenido del modal */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombra alrededor del modal */
}

/* Estilo para los botones del modal */
#btn-cerrar-modal, #btn-registrarse {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}